# IDE & System Related Files #
.buildpath
.project
.settings
.DS_Store
.idea/
.hg
.svn
.CVS

# Local System Files (i.e. cache, logs, etc.) #
/administrator/cache
/cache
/administrator/logs
/logs
/images/article
/images/logo.png
/images/carousel_bg/*.jpg
/images/carousel_bg/*.gif
/images/carousel_bg/*.png
/language/overrides/*
/logs
/tmp
/configuration.php
/webportal.configuration.php
/webportal.configuration.js
/log4phpConfiguration.xml
/.htaccess
/web.config
*~
*.sass-cache
*.min.css.map
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace.*
*.log
*.sql
*.sh
*.bat
*.zip

mysql.exe

_variable_generated.scss

webportal.configuration.*
configuration.php

# Test Related Files #
#/phpunit.xml # phpunit needs to be added
/tests/system/webdriver/tests/logs/
/tests/system/servers/configdef.php

# phpDocumentor Logs #
phpdoc-*

# Patch Tester
administrator/components/com_patchtester/
administrator/templates/hathor/html/com_patchtester
components/com_patchtester/

#npm/bower modules and components
/node_modules
/bower_components
/assets/bower_components
/assets/fonts
/assets/css
/assets/js

/libraries/webportal/beanstalkdpayload/beanstalkd_*

initest.php

agentsandbroker/


favicon.icon
Grunt-settings.json
images/logo.png

robots.*
sitemap.*


_variable_generated.scss
media/com_webportal/dist/
/media/com_webportal/js/
/media/com_webportal/ts/**/*.css
/media/com_webportal/ts/**/*.css.map

/vendor/
/templates/g5_helium/custom/css-compiled/
package-lock.json
/_backup/
/images/
build.cmd
