@import "dependencies";

.s-button {

  height: 2.2rem;
  width: 100%;
  background-color: $accent-color-1;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;

  @include breakpoint(mobile-only) {
    width: 60%;
  }

  a {
    font-weight: $font-weight-bold;
    line-height: $navigation-line-height;
    color: $white;
    white-space: nowrap;
    font-size: 1.2vw;

    @include breakpoint(mobile-only) {
      font-size: 2.5vh;
    }

    @include breakpoint(large-desktop-range) {
      font-size: 16px;
    }
  }
}